{
  "printWidth": 155,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false
}
